* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #c0c0c0;
}
h1 {
  margin-bottom: 20px;
}
input {
  width: 50vw;
}
.completed {
  background-color: rgba(0, 128, 0, 0.4);
}
.incomplete {
  background-color: rgba(255, 0, 0, 0.4);
}
.completed:hover {
  background-color: rgb(0, 128, 0);
}
.incomplete:hover {
  background-color: rgb(255, 0, 0);
}
.completed > span {
  text-decoration-line: line-through;
}
ul {
  width: 80vw;
  padding: 60px;
  margin: 0 auto;
  list-style: none;
  background-color: #333;
  border-radius: 50px;
}
li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
li:first-child:not(.only-one) {
  border-top: 1px solid #000;
  border-radius: 25px 25px 0 0;
}
li:last-child:not(.only-one) {
  border-radius: 0 0 25px 25px;
}
.only-one,.no-one{
  border-top: 1px solid #000;
  border-radius: 25px;
}
.no-one{
  border: 3px solid #000;
  background-color: #c0c0c0;
}
.error-add-todo{
  color: rgba(100, 9, 9, 0.794);
  padding: 10px;
}
span {
  flex-grow: 1;
  padding: 20px;
}

i{
    padding: 20px;
    cursor: pointer;
}

.add-todo {
  text-align: center;
  margin-bottom: 20px;
}
